body {
    background-image: linear-gradient(rgba(250, 236, 163, 0.965), white);
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', sans-serif;
    -webkit-text-stroke: 1.5px black;
    color: white;
    font-size: 50px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 5px rgb(53, 38, 0);
}

.title img {
    width: 38px;
}

.front img {
    margin: auto;
    display: block;
    width: 300px;
    box-shadow: 0px 0px 15px rgb(122, 85, 0);
}

.front {
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
}

button {
    color: white;
    background-color: rgb(169, 141, 65);
    font-family: 'Lucida Sans', sans-serif;
    font-size: 18px;
    border-radius: 4px;
    border-style: none;
}

#recipes {
    text-align: center;
}
/*recipes pages*/
.recipespages {
    margin-right: 500px;
    margin-left: 100px;
}

.recipespages img {
    width: 250px;
    height: 188px;
    box-shadow: 0px 0px 15px rgb(122, 85, 0);
    border-radius: 10px;
}

.recipespages h2, h3 {
    font-family: 'Lucida Sans', sans-serif;
}
.recipespages ol{
    margin-bottom: 35px;
}